
<div class="background">
    
    <div class="container">
        <div class="row pt-5">
            <div class="column justify-content-center">

                <h1 class="title mt-5 mb-5"><strong>Lets Get Started!</strong></h1>

                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                       
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="passwordInput">
                    </div>
                    
                    <button type="submit" class="btn btn-primary mb-3">Create Account</button>
                    <p>Already a User? Click <a href="" class="acctbutton text-success"><u>HERE</u></a></p>
                </form>


            </div>
        </div>
    </div>
</div>


<style>
.background {
    background-image: url(public/assets/images/unnamed-1.jpg);
    height: 100vh;
    width: 100%;
    
}
</style>
