<div id="particles-js"></div>

<div id="main-container" class="container">

    <section class="main-section">
        <h1 class="text-warning">Select Exercise</h1>
        <div>
            <h5 id="h5Instruction"> "Click the <i class=" fa fa-plus"></i> button to get started."
            </h5>

            <br>
            <br>
        </div>
        <button type="button" class="btn bg-warning" data-toggle="modal" data-target="#nameTypeModal">
            <i class="fa fa-plus plusButton"></i>
        </button>
    </section>

    {{#each workouts}}
    {{> workouts/workout}}
    {{/each}}

</div>

<!-- Modal 1 -->
<div class="modal fade" id="nameTypeModal" tabindex="-1" role="dialog" aria-labelledby="nameTypeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nameTypeLabel">Add Exercise</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exerciseName">Exercise Name</label>
                        <input type="email" class="form-control" id="exerciseName" placeholder="Name of exercise...">
                    </div>
                    <div class="form-group">
                        <label for="exerciseType">Exercise Type</label>
                        <select class="form-control" id="exerciseType">
                            <option>Select type...</option>
                            <option>Strength</option>
                            <option>Cardio</option>
                            <option>Circuit</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addExerciseSubmit" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<!--Modal 2-->
<div id="exerciseStatsModal" class="statsModal modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle2" class="modal-title">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Select how many Sets, Reps and how much weight.</p>
                <form>
                    <div class="form-group">
                        <label for="exerciseSets"></label>
                        <select class="form-control" id="exerciseSets">
                            <option>Select sets...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exerciseReps"></label>
                        <select class="form-control" id="exerciseReps">
                            <option>Select reps...</option>
                            <option>2</option>
                            <option>4</option>
                            <option>6</option>
                            <option>8</option>
                            <option>10</option>
                            <option>12</option>
                            <option>14</option>
                            <option>16</option>
                            <option>18</option>
                            <option>20</option>
                            <option>22</option>
                            <option>24</option>
                            <option>26</option>
                            <option>28</option>
                            <option>30</option>
                            <option>32</option>
                            <option>34</option>
                            <option>36</option>
                            <option>38</option>
                            <option>40</option>
                            <option>42</option>
                            <option>44</option>
                            <option>46</option>
                            <option>48</option>
                            <option>50</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exerciseWeight"></label>
                        <select class="form-control" id="exerciseWeight">
                            <option>Select weight...</option>
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                            <option>25</option>
                            <option>30</option>
                            <option>35</option>
                            <option>40</option>
                            <option>45</option>
                            <option>50</option>
                            <option>55</option>
                            <option>60</option>
                            <option>65</option>
                            <option>70</option>
                            <option>75</option>
                            <option>80</option>
                            <option>85</option>
                            <option>90</option>
                            <option>95</option>
                            <option>100</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addStatsSubmit" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>