
<div class="background">
    
    <div class="container-login">
        <div class="row pt-5">
            <div id="loginDiv" class="column justify-content-center">

                <h1 class="title mt-5 mb-5 text-warning"><strong>Let's Create Your Account!</strong></h1>

                <form>
                    <div class="form-group">
                        <label class="email text-warning" for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                       
                    </div>
                    <div class="form-group">
                        <label class="password text-warning"for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="passwordInput">
                    </div>
                    
                    <button type="submit" id="newUser" class="btn btn-primary mb-3">Submit</button>
                    <p class="user text-warning">Already a User? Click <a href="/userLogin" class="acctbutton text-success"><u>HERE</u></a></p>
                </form>


            </div>
        </div>
    </div>
</div>


<style>
.background {
    background-image: url(./assets/images/TireFlip.jpg);
    height: 100vh;
    width: 100%;
    padding-left: 150px !important;
    background-repeat: no-repeat;
    background-size: cover;
    
}
</style>
<script src="./assets/login.js"></script>