<div class="background">

    <div class="container-user">
        <div id="rowClass" class="row pt-5">
            <div class="column justify-content-center">

                <h1 class="title mt-5 mb-5 text-warning"><strong>Let's Get Started!</strong></h1>

                <form action="/login" method="post">
                    <div class="form-group">
                        <label class="emailInput text-warning"for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control" id="emailInput"
                            aria-describedby="emailHelp">

                    </div>
                    <div class="form-group">
                        <label class="passInput text-warning" for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="passwordInput">
                    </div>

                    <button id="userLoginSubmit" type="submit" class="btn btn-primary mb-3">Login</button>
                    <p class="userInput text-warning">If not a user, Click <a href="/login" class="acctbutton text-success"><u>HERE</u></a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    .background {
        background-image: url(public/assets/images/unnamed-1.jpg);
        height: 100vh;
        width: 100%;
        padding-left: 150px !important;
    }
</style>