body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: blue;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
  }
  
  #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    text-align: center;
  }
  /* Home Page */
  
  .card-body {
    text-align: center;
    background-color: black;
  }
  
  .d-flex {
    margin-top: 30px;
  }
  
  .card-img-top {
    width: 254px;
    height: 190px;
  }
  
 
